* {
  font-family: "Segoe UI"; }

.header {
  position: sticky;
  top: 0;
  z-index: 1; }
  .header .neon {
    color: rgba(233, 1, 1, 0);
    text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f; }
  .header .link {
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: #fff;
    position: relative;
    margin-top: 10px;
    font-size: 1.5rem; }
  .header .link::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease; }
  .header .link:hover::after {
    transform: scaleX(1); }

.carruselImg {
  filter: brightness(75%); }

.boton-color1, .boton-color2 {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-gradient: none; }

.boton-color2 {
  border: solid 2px; }

.seccion__soporte {
  font-family: "Franklin Gothic Medium";
  font-size: large;
  color: black; }

.ContenedorTitulo {
  background-image: url(../SRC/Fondo/EstrelladoAzul.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.imgHover {
  transition: all 2s; }

.imgHover:hover {
  transform: scale(1.05); }

.imgHover:click {
  transform: scale(1.05); }

.btn-3:hover {
  background: #ff96ad;
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad; }
