.ContenedorTitulo{
	background-image: url(../SRC/Fondo/EstrelladoAzul.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.imgHover{
	transition: all 2s;
}

.imgHover:hover{
	transform: scale(1.05);
}

.imgHover:click{
	transform: scale(1.05);
}