.ContenedorTitulo{
	background-image: url(../SRC/Fondo/EstrelladoAzul.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.imgHover{
	transition: all 2s;
}

.imgHover:hover{
	transform: scale(1.05);
}

.imgHover:click{
	transform: scale(1.05);
}

.btn-3:hover {
	background: #ff96ad;
	box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}