$color-principal: white;

$bordes:(
    borde-uno : 1px solid black,
    borde-dos : 2px solid black,
    borde-tres : 3px solid black,
);                                            /* EJEMPLO PARA LLAMAR A UN VALOR DE UNA VARIABLE (MAPA): div {
                                                                                                border: map-get($bordes, borde-dos);    
                                                                                                } */

/*Se crean estas variables en forma de ejemplo para recordar como se hace. No están aplicadas en ningún sitio*/