$fuentes:(
    letra-uno : 'Franklin Gothic Medium',
    letra-dos : 'Segoe UI',
    letra-tres : 'Verdana',
);

$color:(
    color1 : white,
    color2 : black,
    color3 : blue,
    color4 : red,
);